.md-title {
  flex: 1;
}

.links {
  margin-right: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;

  .md-button {
    &.router-link-active {
      background: darken(#2196f3, 10%) !important;
    }
  }
}
